@model List<Galaxy.BAL.ViewModel.ProductBriefViewModel>
@{
    ViewBag.Title = "产品信息";
    ViewBag.SubTitle = "产品列表";
}

@section Menu {
    @Scripts.Render("~/Scripts/Product/menu.js")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css/jquery.dataTables.min.css")
@Styles.Render("~/AdminLTE/plugins/datatables/css/dataTables.bootstrap.css")

<div class="row">
    <div class="col-xs-12">
        <div class=" box box-solid box-warning" style="font-size: 12px;">
            <div class="box-body">
                <table id="productListTable" class="table table-bordered table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>产品名称</th>
                            <th>产品全称</th>
                            <th>产品部门</th>
                            <th>发布日期</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Caption)</td>
                                <td>@Html.DisplayFor(modelItem => item.Department)</td>
                                <td> @Html.DisplayFor(modelItem => item.IssueDateStr)</td>
                                <td>@Html.ActionLink("详情", "Detail", new { id = item.ProductID })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js/jquery.dataTables.js")
    @Scripts.Render("~/AdminLTE/plugins/datatables/js/dataTables.bootstrap.js")
    @Scripts.Render("~/Scripts/Product/fundListInfo.js")
}

